.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr 3fr;
  grid-template-areas: 'header'
                        'menu'
                        'galnet'
                        'cgs'
                        'commander'
                        'footer';
}

.header {
  grid-area: header;
  background-color: aliceblue;
}

.menu {
  grid-area: menu;
  background-color: antiquewhite;
}

.galnet {
  grid-area: galnet;
  background-color: aqua;
}

.cgs {
  grid-area: cgs;
  background-color: aquamarine;
}

.commander {
  grid-area: commander;
  background-color: bisque;
}

.footer {
  grid-area: footer;
  background-color: blanchedalmond;
}

@media only screen and (min-width: 768px){
  .layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 5fr 3fr;
    grid-template-areas: 'header header header header'
                          'galnet menu menu cgs'
                          'galnet menu menu cgs'
                          'galnet menu menu commander'
                          'galnet menu menu commander'
                          'footer footer footer footer';
  }
}